.btn {
	border:0;
	padding:5px;
	font-size:14px;
	font-family:'Arial', sans-serif;
	color:#FFF;
	background-color:#333;
	margin:0;
	outline:none;
	&:hover {
		cursor:pointer;
	}
}

.flat {
	
	.btn {
		@include transition(all, 150ms, ease);
		&:hover {
			background-color:lighten(#333, 10%);
		}
	}
	.md { padding:10px; font-size:16px; }
	.lg { padding:15px; font-size:18px; }

}

.generic {

	.btn {
		@include transition(all, 150ms, ease);
		&:hover {
			background-color:lighten(#333, 10%);
		}
	}
	.md { padding:10px; font-size:16px; }
	.lg { padding:15px; font-size:18px; }

}